.mainContact {
  display: flex;
  width: 100vw;
  height: 70vh;
  flex-direction: column;
}
.mainContact h1 {
  text-align: center;
  font-family: uriel;
}

.form-group input {
  width: 90%;
}
form {
  align-self: center;
}
.btn {
  background-color: red;
  border: red;
}
.btn:hover {
  background-color: red;
  opacity: 0.6;
}
